header
    background-color: black
    height: 130px
    width: 100vw
    position: fixed
    display: flex
    justify-content: space-between
    align-items: center
    user-select: none

    h1
        color: white
        cursor: pointer

    a
        color: white
        cursor: pointer
